@model ProyectoEmergencias.Models.Sintoma

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="text-light ">
    <h4>Sintoma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sintomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sintomas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frecuencia_Cardiaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frecuencia_Cardiaca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pulso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pulso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.PacienteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SintomasID">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Regresar</a>
</div>