@model IEnumerable<ProyectoEmergencias.Models.Sintoma>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-outline-warning">Nuevo Registro</a>
</p>
<h1 style="text-align: center;">Registro de sintomas</h1>
<table class="table text-light ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia_Cardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pulso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia_Cardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.PacienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SintomasID" class="btn btn-outline-light ">Edit</a>
                <a asp-action="Details" asp-route-id="@item.SintomasID" class="btn btn-outline-light ">Details</a>
                <a asp-action="Delete" asp-route-id="@item.SintomasID" class="btn btn-outline-light ">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>