@model IEnumerable<ProyectoEmergencias.Models.Sintoma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-light ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia_Cardiaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pulso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia_Cardiaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pulso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.PacienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SintomasID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SintomasID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SintomasID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
